#mainBody {
	background-image: url(../img/calulator.jpg);
	background-size: cover;

}

#calculator-title {
	text-align: center;
	color: white;
	margin-bottom: 20px;
}

#calculator-body {
	text-align: center;
	position: relative;
	width: 400px;
	height: 300px;
	margin-left: auto;
	margin-right: auto;
	border: 5px groove;
}

#display {
	position: relative;
	left: 50px;
}

#leftSide, #rightSide {
	width: 130px;
	height: 35px;
	margin-bottom: 20px;
	border-radius: 5px;
	box-shadow: 1px 1px 1px #888888;
	background: transparent;
	text-align: right;
	font-size: 20px;
	font-family: 'Orbitron', sans-serif;
	color: limegreen;
	font-weight: bold;
}

#operator {
	width: 50px;
	height: 35px;
	margin-bottom: 20px;
	border-radius: 5px;
	box-shadow: 1px 1px 1px #888888;
	background: transparent;
	text-align: center;
	font-size: 24px;
	color: limegreen;
	font-weight: bold;
}

button.btn.btn-info.btn-m {
	width: 73px;
	height: 28px;
	margin: 5px;
	font-size: 15px;
	text-align: center;
	margin-left: 5px;
	box-shadow: 2px 2px 1px #888888;
	background-color: black;
}
button.btn.btn-info.btn-m.signs, #clear-bttn, #posNeg-bttn, #percent-bttn, #exponent-bttn {
	background-color: #000;
	color: white;
}