#contact {
	background-image: url(../img/pen.jpg);
	background-size: cover;
}


#contact-jumbotron {
	opacity: 0.5;	
}

.links {
	font-family: 'Roboto', sans-serif;
	text-align: center;
}

.links a:hover {
	color: #1FEEF5;
}





