

body {
  background-color: #FFF;
  margin: 0;
  padding: 0;
}

@media(min-width: 200px) {
  .projects {
  	background: #EEEFF1;
  	width: 90%;
  	margin: 10px auto;
  	padding: 20px 0px;
  	text-align: center;
  	overflow: hidden;
  	display: flex;
    flex-wrap: wrap;
  }
  .project {
    display: inline-block;
    text-align: center;
    padding-bottom: 100%;
    margin-bottom: -100%;
    flex: 1;
  }
}


.project p {
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 300;
  text-align: center;
}

.project h2 {
  margin: auto;
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

.project img {
	width: 16em;
	height: 16em;
}